# External APIs
TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_FROM_NUMBER=+6598765432
TWILIO_TO_NUMBER=+6512345678
OPENWEATHER_API_KEY=your_key
GOOGLE_MAPS_API_KEY=your_key

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# MySQL credentials
MYSQL_ROOT_PASSWORD=root_password
